.table{ 
    background-color: rgb(42, 74, 113); 
    color: white; 
     
    .table-heading{
        border: 1px solid;
        text-align: center;
        
    }
    .table-data{
        border: 1px solid;
        text-align: center;
        height: 100%;
        

    }
}